#container{
	position:relative;
}

#everything_else{
	width:100%;
	top: 0;
	position:absolute;
}

.mouse_tooltip{
	position: absolute;
	display: inline-block;
}

#poly_view_nav{
	visibility: hidden;
}

#poly_file_read{
	visibility: hidden;
}