.toolbar {
	position: fixed;
	list-style-type : none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	width: 100%;
}

#dropdown_trigger{
	background-color: #810000;
	border: none;
	width: 48px;
	height: 52px;
	transition-duration: 0.4s;
	cursor: pointer;
}

#dropdown_trigger:hover{
	background-color: white;
	border: 2px solid black;
	color: black;
}

.toolbar_btn{
	background-color: white;
	border: 2px solid #FFFFFF;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	padding: 15px 32px;
	transition-duration: 0.4s;
}

.toolbar_btn:hover{
	background-color: #800000;
	color: white;
}

li{
	display: inline;
}