#main-canvas{
	position:relative;
}

#gui{
	width:100%;
	top: 0;
	position:absolute;
}


#tutorial-gui{
	margin-top: 3em;
	width: 24rem;
	}

#tutorial-title{
	margin-top: 1em;
	margin-left: .5em;
}

#tutorial-prompt{
	padding-right: 2rem;
	text-align: right;
	color: #FEFEFE;
}

#tutorial-panel-row{
	width: 2em;
}

#load-polycube{
	visibility: hidden;
}