#main-canvas{
	position:relative;
}

#gui{
	width:100%;
	top: 0;
	position:absolute;
}

#tutorial-part{
	padding-right: 2rem;
	text-align: right;
}

#tutorial-panel-row{
	width: 25rem;
}

#load-polycube{
	visibility: hidden;
}